@font-face {
	font-family: 'Gotham Bold';
	src: url(/gotham-bold.ttf) format('truetype');
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	font-family: 'Gotham Bold';
}
button {
	border: none;
}
html, body {
	font-family: 'Gotham Bold';
	font: 16px sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	background: white;
}
.top-row {
	width: 100vw;
	height: 50px;
	background: lightgreen;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.left-column {
	width: 200px;
	height: calc(100vh - 50px);
	background: lightskyblue;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.middle-column {
	width: calc(100vw - 400px);
	height: calc(100vh - 50px);
	background: lightsalmon;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.middle-column-top {
	width: 100%;
	height: 400px;
	background: lightyellow;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.middle-column-bottom {
	width: 100%;
	height: calc(100vh - 400px - 50px);
	background: lightsalmon;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.right-column {
	width: 200px;
	height: calc(100vh - 50px);
	background: lightskyblue;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.right-column-top {
	width: 100%;
	height: calc(50vh - 25px);
	background: lightslategray;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.right-column-bottom {
	width: 100%;
	height: calc(50vh - 25px);
	background: lightsteelblue;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}